<app-navbar>
    <div id="body_container">
        <ngx-spinner bdColor="none" size="large" color="#4db951" type="ball-scale-multiple"></ngx-spinner>
        <router-outlet name="body"></router-outlet>
    </div>

    <footer>
    
        <span class="email">artleks23@gmail.com</span>
    
        <div id="socialnet">
            <a><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>

    </footer>
</app-navbar>
